@font-face {
  font-family: "iconfont"; /* Project id 5077089 */
  src: url('iconfont.woff2?t=1764457771385') format('woff2'),
       url('iconfont.woff?t=1764457771385') format('woff'),
       url('iconfont.ttf?t=1764457771385') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-system:before {
  content: "\e625";
}

