@font-face {
  font-family: "iconfont"; /* Project id 5077089 */
  src: url('iconfont.woff2?t=1766972564568') format('woff2'),
       url('iconfont.woff?t=1766972564568') format('woff'),
       url('iconfont.ttf?t=1766972564568') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-goalbar:before {
  content: "\e629";
}

.icon-goal-bar-segment:before {
  content: "\e62a";
}

.icon-scrolltext:before {
  content: "\e62b";
}

.icon-edit:before {
  content: "\e626";
}

.icon-system:before {
  content: "\e625";
}

