VITE_PRG_INSTALLER_MAC_URL=
VITE_PRG_INSTALLER_MAC_VERSION=
VITE_PRG_INSTALLER_MAC_SHA256=
VITE_PRG_INSTALLER_MAC_REQUIREMENTS=
VITE_PRG_INSTALLER_WINDOWS_URL=
VITE_PRG_INSTALLER_WINDOWS_VERSION=
VITE_PRG_INSTALLER_WINDOWS_SHA256=
VITE_PRG_INSTALLER_WINDOWS_REQUIREMENTS=
