VITE_CONNECT_IQ_LAUNCHER_MAC_URL=
VITE_CONNECT_IQ_LAUNCHER_MAC_VERSION=
VITE_CONNECT_IQ_LAUNCHER_MAC_SHA256=
VITE_CONNECT_IQ_LAUNCHER_MAC_REQUIREMENTS=
VITE_CONNECT_IQ_LAUNCHER_WINDOWS_URL=
VITE_CONNECT_IQ_LAUNCHER_WINDOWS_VERSION=
VITE_CONNECT_IQ_LAUNCHER_WINDOWS_SHA256=
VITE_CONNECT_IQ_LAUNCHER_WINDOWS_REQUIREMENTS=
