/* Icon Fonts */
@font-face {
  font-family: 'qiwei-one';
  src: url('/src/assets/fonts/Qiwei-One.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'qiwei-two';
  src: url('/src/assets/fonts/Qiwei-Two.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'yoghurt-one';
  src: url('/src/assets/fonts/Yoghurt-One.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'super-icons';
  src: url('/src/assets/fonts/super-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'weather-regular';
  src: url('/src/assets/fonts/weather-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
