/* @font-face {
  font-family: 'roboto-semibold';
  src: url('/src/assets/fonts/Roboto-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'roboto-thin';
  src: url('/src/assets/fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
   */


/* Icon Fonts */
@font-face {
  font-family: 'qiwei-one';
  src: url('/src/assets/fonts/Qiwei-One.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'qiwei-two';
  src: url('/src/assets/fonts/Qiwei-Two.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'yoghurt-one';
  src: url('/src/assets/fonts/Yoghurt-One.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'super-icons';
  src: url('/src/assets/fonts/SuperIcons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
