@import '@fontsource/roboto-condensed/400.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/nanum-gothic/400.css';
@import '@fontsource/kosugi/400.css';
@import '@fontsource/pridi/400.css';
@import '@fontsource/yantramanav/400.css';

@font-face {
  font-family: 'noto-sans-sc-regular';
  src: url('../fonts/noto-sans-sc-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}
